torch==2.3.1+cpu
sudachipy>=0.6.8
numpy>=1.24.3,<3;
cython>=0.29.30
scipy>=1.11.2
soundfile>=0.12.0
librosa>=0.10.0
scikit-learn>=1.3.0
numba>=0.57.0
inflect>=5.6.0
tqdm>=4.64.1
anyascii>=0.3.0
pyyaml>=6.0
aiohttp>=3.8.1
packaging>=23.1
mutagen==1.47.0
flask>=2.0.1
pysbd>=0.3.4
pandas>=1.4,<3.0
matplotlib>=3.7.0
trainer>=0.0.36
coqpit>=0.0.16
coqui-tts
