#sudachipy>=0.6.8
sudachipy==0.6.11
numpy>=1.24.3,<2;
cython>=3.2.5
scipy>=1.17.1
soundfile>=0.13.1
librosa>=0.11.0
scikit-learn>=1.8.0
numba>=0.65.1
inflect>=7.5.0
tqdm>=4.67.3
anyascii>=0.3.3
pyyaml>=6.0.3
aiohttp>=3.13.5
packaging>=26.2
mutagen==1.47.0
flask>=3.1.3
pysbd>=0.3.4
pandas>=3.0.3,<4.0
matplotlib>=3.10.9
trainer>=0.0.36
coqpit>=0.0.17
coqui-tts
